{% extends "users/base.html" %}
{%load bootstrap4%}
{% load crispy_forms_tags%}
{% block content %}

<div class="custom-breadcrumns border-bottom">
    <div class="container">
      <a href="index.html">Home</a>
      <span class="mx-3 icon-keyboard_arrow_right"></span>
      <span class="current">Login</span>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="loggin">
              <h2 style="color: #2bbbad">Login</h2>
    
              <form style="color: #2bbbad " class=" form-group" action="" method="POST">
                {%csrf_token%}
                {{form|crispy}}
    
    
    
                <button class="btn-btn-default" type="submit" name="button">Login</button>
                <br> <br>
                <p style="color:  #2bbbad ">Dont have an account ?<a href="{% url 'register_option' %}">Register here</a></p>
                
              </form>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
  </div>

{% endblock %}